*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

header{
background-color: grey;
padding: 30px;
text-align: center;
font-size: 35px;
font-family: 'Times New Roman', Times, serif;
color: beige;
}
h1 {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: initial;
}

h2 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: initial;
}
section{
    background-color: #ccc;
    text-align: center;
}

nav{
    background-color: #ccc;
}
